.tooltipGeneral {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 1px;
	padding: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
	width: 92px;
	height: 28px;
	position: absolute;
}


	.tooltipGeneral:after, .tooltipGeneral:before {
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.tooltipGeneral:after {
		border-color: rgba(255, 255, 255, 0);
		border-width: 10px;
		margin-left: -10px;
	}

	.tooltipGeneral:before {
		border-color: rgba(232, 232, 232, 0);
		border-width: 11px;
		margin-left: -11px;
	}

    .tooltip1:after, .tooltip1:before {
		bottom: 100%;
	}

	.tooltip2:after, .tooltip2:before {
		top: 100%;
	}

    .tooltip1:after {
		border-bottom-color: #ffffff;
	}

	.tooltip2:after {
		border-top-color: #ffffff;
	}

	.tooltip1:before {
		border-bottom-color: #FBFBFB;
	}
    
    .tooltip2:before {
		border-top-color: #FBFBFB;
	}

.tooltip1 #svgWhatsapp {
	display: normal;
}
.tooltip2 #svgWhatsapp {
	display: none;
}

.tooltip1 #svgMark {
	display: none;
}
.tooltip2 #svgMark {
	display: normal;
}

#tooltip a {
	text-decoration: none;
}

svg {
	margin: 2px;
	display: inline;
}

#highlight {
	background-color: #FF9;
}
